.container {
  margin: 0 auto;
  width: 95%;

  .periodicTable {
    display: flex;
    color: black;
    max-width: 100%;
    justify-content: center;
    border: red solid 1px;
  }

  .element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    font-size: 11px;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    opacity: 0.6; // Opacité par défaut

    &:not(.empty) {
      // Exclure la classe .empty de l'effet de survol
      &:hover {
        opacity: 1; // Opacité au survol
        box-shadow: 0 0 17px #6c38c4; // Utilisation de currentColor pour la couleur de la bordure
        cursor: pointer;
      }
    }

    &.nonmetal {
      background-color: #ff5252;
    }

    &.noble-gas {
      background-color: #ff4081;
    }

    &.alkali-metal {
      background-color: #ff669d;
    }

    &.alkaline-earth-metal {
      background-color: #ff8cc1;
    }

    &.metalloid {
      background-color: #ffabf2;
    }

    &.halogen {
      background-color: #9c6eff;
    }

    &.metal {
      background-color: #536dfe;
    }

    &.transition-metal {
      background-color: #4ae8b0;
    }

    &.lanthanoid {
      background-color: #69f0ae;
      color: #e8cffd;
    }

    &.actinoid {
      background-color: #b2ff59;
      color: #e8cffd;
    }

    &.post-transition-metal {
      background-color: #eeff41;
    }
  }

  .lanthanides {
    background-color: rgb(136, 0, 136);
    color: rgb(232, 207, 253);

    .rotate-text {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      display: inline-block;
      font-weight: 800;
    }
  }

  .actinides {
    background-color: rgb(77, 1, 103);
    color: rgb(232, 207, 253);

    .rotate-text {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      display: inline-block;
      font-weight: 800;
      background-color: rgb(77, 1, 103);
      color: rgb(232, 207, 253);
    }
  }

  .empty {
    opacity: 0;
  }

  .symbol {
    font-weight: bold;
  }

  .name {
    text-align: center;
    font-size: 11px;
    max-height: 3em;
  }

  .atomicNumber,
  .atomicMass {
    text-align: center;
    font-size: 11px;
    max-height: 3em;
  }
}
